.menu ul {
    display: flex;
    justify-content: center;
    background-color: #8F4F42;
    list-style: none;
    gap: 55px;
    width: 100%;
    height: 40px;
    padding-top: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.menu a:hover {
    background: #784437;
    color: black;
}

* {
  margin: 0;
  padding: 0;
}

.titulo {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
}

.b-cont {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin: 40px;
}

.b-cont img {
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tex {
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 400px;
}